<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
<header>
    <nav>
        <div class="container">
            <div class="navbar-fuild">
                <div class="navbar-logo">
                    <h1>Rizat Resto</h1>
                </div>
                <div class="navbar-collapse">
                    <button id="hamburger">☰</button>
                    <ul class="nav_group">
                        <li class="nav-item active">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Favorite</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/rizatsk" target="blank">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>

<main>
    <section class="jumbotron">
        <div class="bg-jumbotron">
            <div class="container">
                <div class="contents-jumbotron">
                    <h2>Restaurant Rizat</h2>
                    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
                    <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contents container">
        <div class="heading">
            <h2>Explore Restourant</h2>
        </div>
        <div class="card-group">
            <div class="card">
                <div class="header-card">
                    <img src="./images/heros/hero-image_1.jpg" alt="">
                </div>
                <div class="contents-card">
                    <p class="rating">Rating : 4.5</p>
                    <h3>Lorem Ipsum Dolor</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius atque ducimus quaerat, sed consequatur veniam quo. Illum blanditiis adipisci quo vitae eaque harum, facere saepe!</p>
                </div>
            </div>
            <div class="card">
                <div class="header-card">
                    <img src="./images/heros/hero-image_1.jpg" alt="">
                </div>
                <div class="contents-card">
                    <p class="rating">Rating : 4.5</p>
                    <h3>Lorem Ipsum Dolor</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius atque ducimus quaerat, sed consequatur veniam quo. Illum blanditiis adipisci quo vitae eaque harum, facere saepe!</p>
                </div>
            </div>
            <div class="card">
                <div class="header-card">
                    <img src="./images/heros/hero-image_1.jpg" alt="">
                </div>
                <div class="contents-card">
                    <p class="rating">Rating : 4.5</p>
                    <h3>Lorem Ipsum Dolor</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius atque ducimus quaerat, sed consequatur veniam quo. Illum blanditiis adipisci quo vitae eaque harum, facere saepe!</p>
                </div>
            </div>
            <div class="card">
                <div class="header-card">
                    <img src="./images/heros/hero-image_1.jpg" alt="">
                </div>
                <div class="contents-card">
                    <p class="rating">Rating : 4.5</p>
                    <h3>Lorem Ipsum Dolor</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius atque ducimus quaerat, sed consequatur veniam quo. Illum blanditiis adipisci quo vitae eaque harum, facere saepe!</p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    copyright @ 2021 - Rizat App
</footer>
</body>
</html>
